span{
	font-family:'iconfont';
}
a{
	text-decoration:none;
}
li{
	list-style:none;
}
#top{
	.top-left{
		.spa{
			span{
				float:left;	
				font-size:24px;
				margin-left:16px;
				margin-top:11px;
			}
		}
		.menu{
			float:left;			
			p{
				position:relative;
				float:left;
				height:41px;
				line-height:41px;
				font-size:14px;
				margin-left:20px;
				&:hover{
					border-bottom:1px solid #3b6caa;
				}
			}
			.submenu{
				float:left;
				width:100%;
				height:589px;
				position:relative;
				position:absolute;
				left:0px;
				top:42px;
				display:none;
				.left-sub{
					height:100%;
					width:468px;
					background:#f4f4f4;
					p{
						font-size:11px;
						margin-left:100px;
						margin-top:26px;
					}
					.sub{
						clear:both;
						margin-left:99px;
						h1{
							float:left;
							font-weight:normal;
							font-size:14px;
							line-height:41px;
							margin-left:20px;
							color:black;
							&:hover{
								height:41px;
								width:280px;
								background:#3b6caa;
								color:#fff;
							}
							span{
								float:right;
								margin-right:10px;
								display:none;
							}
							&:hover  span{
								display:block;
							}
						}
						.levelmenu{
							display:none;
							float:left;
							width:881px;
							height:100%;
							position:absolute;
							left:468px;
							top:0;
							background:#fff;
							p{
								margin-left:25px;
								margin-top:40px;
								font-size:36px;
								margin-bottom:24px;
								a{
									color:#3b6caa;
									&:hover{
										text-decoration:underline;
									}
								}
							}
							h2{
								clear:both;
								font-weight:normal;
								font-size:13px;
								color:#7a7a7a;
								margin-left:25px;
								margin-bottom:32px;
							}
							ol{
								float:left;
								margin-left:25px;
								li{
									margin-bottom:25px;
									a{
										color:#3b6caa;
									}
								}
							}
							.right-lev{
								float:right;
								margin-right:20px;
								h2{
									font-size:14px;
								}
								h3{
									font-size:11px;
									margin-top:30px;
									a{
										color:#3b6caa;
									}
									&:hover{
										text-decoration:underline;
									}
								}
							}
						}
						&:hover .levelmenu{
							display:block;
						}
						.tit3{
							display:block;
						}
					}
				}
			}
			&:hover .submenu{
				display:block;
			}
		}
	}
	.top-right{
		float:right;
		position:relative;
		.box{
			float:right;
			margin-right:360px;
			margin-top:5px;
			height:31px;
			width:106px;
			border:1px solid #3b6caa;
			p{
				font-size:14px;
				color:#3b6caa;
				line-height:31px;
				text-align:center;
				&:hover{
					background:#3b6caa;
					color:#fff;
				}
			}
		}
		.posi{
			position:absolute;
			right:50px;
				.pane{
					float:left;
					height:41px;
					width:230px;
					border:1px solid #e0e0e0;
					margin-left:10px;
					border-top:none;
					border-bottom:none;
					input{
						border:none;
						outline:none;
						font-size:16px;
						margin-left:9px;
						line-height:41px;
					}
					&:hover{
						box-shadow:0 0 5px #3b6caa;
					}
				}
			.case{
				float:left;
				span{
					float:left;
					font-size:24px;
					margin-left:5px;
					margin-top:10px;
					padding-bottom:10px;
					position:relative;
					left:0;
					top:0;
					.son{
						position:absolute;
						left:-178px;
						top:36px;
						height:140px;
						width:200px;
						border:1px solid #e0e0e0;
						background:#fff;
						display:none;
						h3{
							font-size:14px;
							font-weight:normal;
							color:black;
							padding:10px;
							text-align:center;
							&:hover{
								background:#3b6caa;
								color:#fff;
							}
						}
					}
					&:hover .son{
						display:block;
					}
					&:hover{
						color:#3b6caa;
					}
				}
			}
			.bpc{
				float:left;
				position:relative;
				span{
					line-height:41px;
					margin-left:10px;
					font-size:22px;
				}
				#cover{
					height:100%;
					width:100%;
					background:black;
					opacity:0.2;
					filter:alpha(opacity=20);
					position:fixed;
					top:0;
					left:0;
					display:none;
				}
				.son{
					height:640px;
					background:#fff;
					position:absolute;
					left:-240px;
					top:45px;
					display:none;
					b{
						float:right;
						font-size:25px;
						margin-right:20px;
						margin-top:10px;
						a{
							color:#000;
						}
					}
					iframe{
						height:100%;
					}
				}
			}
		}
	}
}
#center{
	clear:both;
	.mid{
		height:360px;
		width:100%;
		background:url(../img/1.jpg) center center / cover;
		img{
			display:none;
		}
		.box{
			height:350px;
			width:600px;
			margin-top:50px;
			p{
				font-size:45px;
				margin-left:16px;
				margin-bottom:10px;
				color:#fff;
			}
			h1{
				font-size:14px;
				margin-left:16px;
				margin-bottom:10px;
				color:#fff;
			}
			.son{
				clear:both;
				h2{
					float:left;
					width:25px;
					height:25px;
					background:#fff;
					border-radius:50%;
					margin-left:16px;
					margin-bottom:10px;
					span{
						float:left;
						font-size:18px;
						font-weight:normal;
						line-height:25px;
						margin-top:3px;
						margin-left:3px;
					}
				}
				h3{
					float:left;
					font-size:14px;
					font-weight:normal;
					margin-left:10px;
					color:#fff;
				}
			}
			
		}
	}
	.pane{
		float:left;
		height:373px;
		width:337px;
		background:#f9f9fb;
		p{
			font-size:24px;
			text-align:center;
			margin-top:30px;
			color:#323238;
		}
		.case{
			height:34px;
			width:130px;
			background:#008571;
			margin-left:110px;
			margin-top:20px;
			h6{
				font-size:14px;
				color:#fff;
				line-height:34px;
				text-align:center;
			}
		}
		.son{
			height:34px;
			width:122px;
			border:2px solid #fff;
			margin-top:20px;
			margin-left:110px;
			h5{
				font-size:14px;
				line-height:34px;
				color:#fff;
				&:hover{
					color:#264a60;
				}
			}
			&:hover{
				background:#fff;
			}
		}
		img{
			width:100%;
		}
		h1{
			font-size:20px;
			margin-left:16px;
			margin-top:15px;
			font-weight:normal;
			a{
				color:#323232;
			}
		}
		h2{
			font-size:16px;
			margin-left:16px;
			margin-top:15px;
			font-weight:normal;
			a{
				color:#323232;
			}
		}
		h3{
			float:left;
			width:25px;
			height:25px;
			border-radius:50%;
			background:#3b6caa;
			margin-top:15px;
			margin-left:16px;
			span{
				float:left;
				color:#fff;
				font-size:14px;
				margin-left:4px;
				margin-top:5px;
			}
		}
		h4{
			float:left;
			font-size:12px;
			margin-top:17px;
			font-weight:normal;
			margin-left:10px;
			a{
				color:black;
				&:hover{
					color:#3b6caa;
				}
			}
			&:hover{
				border-bottom:1px solid #3b6caa;
				
			}
		}
	}
	.pane:nth-child(3){
		background:#ecf2f2;
	}
	.pane:nth-child(5){
		background:#ecf2f2;
	}
	.pane:nth-child(6){
		background:#264a60;
		p{
			color:#fff;
		}
	}
	.pane:nth-child(7){
		background:#1d3649;
		a{
			color:#fff;
		}
	}
	.pane:nth-child(8){
		background:#264a60;
		a{
			color:#fff;
		}
	}
	.pane:nth-child(9){
		background:#1d3649;
		a{
			color:#fff;
		}
	}
	.pane:nth-child(10){
		p{
			color:#008571;
		}
		.son{
			border:2px solid #008571;
			h5{
				color:#008571;
				&:hover{
					color:#fff;
				}
			}
			&:hover{
				background:#008571;
			}
		}
	}
	.pane:nth-child(11){
		background:#ecf2f2;
	}
	.pane:nth-child(13){
		background:#ecf2f2;
	}
}
#mid{
	clear:both;
	.mid-top{
		overflow:hidden;
		float:left;
		width:100%;
		background:#4178be;
		.pane{
			float:left;
			width:337px;
			height:100%;
		}
		p{
			margin:20px;
			font-size:26px;
			color:#fff;
		}
		.box{
			float:left;
			height:333px;
			margin-top:25px;
			width:337px;
			.son{
				width:100%;
				height:111px;
				span{
					font-size:25px;
					color:#fff;
				}
				h1{
					font-weight:normal;
					font-size:18px;
					a{
						color:#fff;
					}
					&:hover{
						text-decoration:underline;
					}
				}
				h2{
					font-size:14px;
					font-weight:normal;
					a{
						color:#fff;
					}
				}
			}
		}
	}
	.mid-cen{
		overflow:hidden;
		clear:both;
		float:left;
		height:360px;
		width:100%;
		background:url(../img/8.jpg) center center / cover;
		img{
			display:none;
		}
		.box{
			height:100%;
			width:600px;
			p{
				float:left;
				font-size:14px;
				color:#fff;
				margin-top:50px;
				margin-bottom:15px;
				margin-left:16px;
			}
			h1{
				float:left;
				font-size:22px;
				font-weight:normal;
				color:#fff;
				margin-bottom:15px;
				margin-left:16px;
			}
			h2{
				float:left;
				font-weight:normal;
				font-size:13px;
				color:#fff;
				margin-bottom:15px;
				margin-left:16px;
			}
			h3{
				float:left;
				height:31px;
				width:150px;
				background:#323232;
				margin-left:16px;
				a{
					float:left;
					font-size:12px;
					font-weight:normal;
					color:#fff;
					margin-left:9px;
					line-height:31px;
				}
				&:hover{
					background:black;
				}
			}
		}
	}
	.mid-bot{
		overflow:hidden;
		clear:both;
		width:100%;
		background:#777677;
		p{
			float:left;
			width:321px;
			font-size:24px;
			color:#fff;
			margin-top:60px;
			margin-left:16px;
		}
		.box{
			float:left;
			height:100%;
			width:337px;
			.son{
				width:100%;
				height:150px;
				margin-top:25px;
				span{
					font-size:30px;
					color:#fff;
				}
				h1{
					font-weight:normal;
					font-size:18px;
					a{
						color:#fff;
					}
					&:hover{
						text-decoration:underline;
					}
				}
				h2{
					font-size:16px;
					font-weight:normal;
					a{
						color:#fff;
					}
				}
			}
		}
	}
}
#bottom{
	height:375px;
	width:100%;
	background:#f4f4f4;
	.bot-top{
		ul{
			float:left;
			width:337px;
			height:100%;
			li{
				font-size:16px;
				margin-top:15px;
				margin-left:16px;
				a{
					font-size:14px;
					color:#5a5a5a;
					&:hover{
						color:#3b6caa;
					}
				}
				&:hover{
					text-decoration:underline;
				}
			}
		}
	}
	.right{
		clear:both;
		float:right;
		position:relative;
		p{
			margin-right:140px;
			margin-top:10px;
			margin-bottom:10px;
		}
		.box{
			height:41px;
			width:280px;
			border:1px solid black;
			h1{
				float:left;
				font-weight:normal;
				font-size:17px;
				line-height:41px;
			}
			span{
				float:left;
				margin-left:60px;
				line-height:41px;
			}
			.son{
				height:220px;
				width:280px;
				background:#fff;
				position:absolute;
				bottom:43px;
				display:none;
				input{
					height:40px;
					width:250px;
					margin-left:3px;
					margin-top:10px;
				}
			}
			&:hover .son{
				display:block;
			}
		}	
	}
}
#foot{
	height:60px;
	width:100%;
	background:#f4f4f4;
	.hr{
		float:left;
		width:calc(100% - 2px);
		border:1px solid #aeaeae;
		margin-top:20px;
	}
	ul li{
		float:left;
		margin-left:16px;
		line-height:35px;
		a{
			color:#5a5a5a;
			&:hover{
				color:#3b6caa;
				text-decoration:underline;
			}
		}
	}
	.foot-rig{
		float:right;
		p{
			float:left;
			font-size:14px;
			line-height:35px;
			margin-right:10px;
		}
		span{
			font-size:20px;
			line-height:35px;
			margin-right:10px;
			a{
				color:#000000;
			}
		}
	}
}
#to-top{
	display:none;
	p{
		height:50px;
		width:50px;
		border-radius:50%;
		background:#ececec;
		border:1px solid #fff;
		position:fixed;
		bottom:100px;
		right:10px;
		span{
			font-size:30px;
			line-height:50px;
			margin-left:10px;
			color:black;
			&:hover{
				color:#fff;
			}
		}
		&:hover{
			background:black;
		}
	}
}
@media screen and(max-width:1190px){
	#top{
		.top-left{
			.menu{
				display:none;
			}
		}
	}
}
@media screen and(max-width:600px){
	#top{
		.top-right{
			.box{
				display:none;
			}
			.posi{
				.pane{
						border:none;
						input{
							display:none;
						}
						span{
							float:left;
							margin-left:170px;
							margin-top:15px;
						}
					}
					.case{
						float:right;
						margin-top:-40px;
					}
					.bpc{
						float:right;
						margin-right:-55px;
						margin-top:-40px;
					}
				}
			
		}
	}
	#mid{
		.mid-cen{
			.box{
				width:100%;
			}
		}
	}
}
@media screen and (min-width:600px){
		#mid{
		.mid-top,.mid-bot,.mid-cen{
			.box{
				width:25%;
			}
			.pane{
				width:25%;
			}
		}
	}
}
@media screen and (min-width:600px) and (max-width:1190px){
	#center{
		.pan{
			width:50%;
		}
	}
}
@media screen and(min-width:1190px){
	#center{
		.pane{
			width:25%;
		}
	}
}
@media screen and (max-width:600px){
	#center{
		.pane{
			width:100%;
		}
	}
	#center{
		.mid{
			.box{
				width:100%;
			}
		}
	}
	#mid{
		.mid-top,.mid-bot{
			.box{
				width:100%;
			}
			.pane{
				width:100%;
			}
		}
	}
}
@media screen and (max-width:600px){
	#center{
		.mid{
				img{
					width:100%;
					display:block;
				}
				.box{
					color:#fff;
					background:#000;
				}
		}
	}
	#mid{
		.mid-cen{
			img{
				width:100%;
				display:block;
			}
			.box{
				color:#fff;
				background:#000;
			}
		}
	}
}
@media screen and (max-width:600px){
	#bottom{
		.bot-top{
			ul{
				width:260px;
			}
		}
	}
}