a{
	text-decoration:none;
}
.tab{
	p a{
		color:black;
		font-size:13px;
	}
	li{
		margin-top:20px;
		height:30px;
		width:160px;
		font-size:11px;
		a{
			float:left;
			margin-top:3px;
			margin-left:5px;
			color:black;
			&:hover{
				color:#fff;
			}
		}
		&:hover{
			background:black;
		}
		
	}
}